@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1f293a;
}

.container{
    position: relative;
    width: 500px;
    height: 530px;
    background: transparent;
    border: 2px solid #0ef;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0 45px;
    overflow: hidden;
}

.container .login-box{
    position: relative;
    width: 100%;
}

.login-box .page-box{
    display: flex;
    flex-direction: column;
}

.page-box .page{
    width: 100%;
}

.page-box .page.email-page{
    transform: translateX(0);
    transition: .25s ease-in-out;
}

.page-box.active-pass .page.email-page{
    transform: translateX(-500px);
}

.page-box .page.password-page{
    position: absolute;
    transform: translateX(500px);
    margin-top: 140px;
    transition: .25s ease-in-out;
}

.page-box.active-pass .page.password-page{
    transform: translateX(0);
}

.page-box .login-title{
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.login-title h2{
    font-size: 32px;
    line-height: 1.5;
}

.login-title p{
    font-size: 16px;
    font-weight: 500;
}

.page .input-box{
    position: relative;
    width: 100%;
    height: 55px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #2c4766;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    padding: 0 16px;
    transition: .3s ease;
}

.input-box input:focus,
.input-box input:valid{
    border-color: #0ef;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    pointer-events: none;
    transition: 0.3s ease;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: 1px;
    left: 12px;
    font-size: 13px;
    color: #0ef;
    background: #1f293a;
    padding: 0 6px;
}

.forgot{
    margin-top: 6px;
}

.forgot.show{
    margin: 10px 0 70px;
    display: flex;
    justify-content: space-between; 
}

.forgot a{
    font-size: 14.5px;
    color: #0ef;
    text-decoration: none;
}

.forgot a:hover{
    text-decoration: underline;
}

.forgot.show label{
    font-size: 14.5px;
    color: #fff;
    cursor: pointer;
}

.forgot.show label input{
    accent-color: #0ef;
    cursor: pointer;
    margin-right: 3px;
}

.guest-mode {
    margin: 40px 0;
}

.guest-mode p {
    font-size: 14.5px;
    color: #fff;
}

.guest-mode a {
    font-size: 14.5px;
    color: #0ef;
    text-decoration: none;
}

.guest-mode a:hover{
    text-decoration: underline;
}

.btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-box a {
    font-size: 14.5px;
    color: #0ef;
    text-decoration: none;
}

.btn-box a:hover{
    text-decoration: underline;
}

.btn-box button{
    width:  90px;
    height: 40px;
    background: #0ef;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: #1f293a;
    font-weight: 600;

}

.btn-box button:nth-child(1){
    background: transparent;
    color: #0ef;
}